# ─── Dependencias ────────────────────────────────────────────────────────────
node_modules/

# ─── Variables de entorno ────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ─── Logs ────────────────────────────────────────────────────────────────────
*.log
logs/
npm-debug.log*

# ─── Build / compilados ──────────────────────────────────────────────────────
dist/
build/

# ─── Sistema operativo ───────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Editores ────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
